{% extends 'main/base.html' %}
{% block title %}RUSapp{% endblock %}
{% block text %}
<p>Это мой первый сайт на Python Django!</p>
<p>Здесь я реализовал</p>
<hr>
<p>1.Авторизацию и регистрацию</p>
<p>2.Различные модели в базе данных:Комментарии,Приложения,Заявки</p>
<p>3.Работал над дизайном сайта</p>
<p>Всё я делал без готовых решение,делал свои велосипеды.</p>
<p>Как по мне сайта получился неплохим,хотя он и первый.</p>
<p>Все идеи которые я хотел здесь релизовать я выполнил,на разработу этого сайта у меня ушло почти месяц ,но я не хочу затягивать дальше этот учебный проект</p>



{% endblock %}